body {
    font-family: Arial;
    margin: 0;
}

/* header */
.header-body{
    width: 100%;
    background-color: darkcyan;
    height: 3em;
    display: flex;
    align-items: center;
}
.header-title {
    padding: 0px 20px;
    color: white;
}

/* filter */
.filter-body {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color-filter, #2199e84f);
    justify-content: center;
    padding: var(--padding-filter, 10px);
    border-radius: var(--border-radius-filters, 0.5em);
    border: var(--border-filter, none);
    width: 70%;
    color: var(--principal-text-color, black);
    box-shadow: var(--filter-shadow, 2px 4px 14px rgba(0, 0, 0, 0.25));
    margin: 20px auto;
}
.container-forms{
    width: 50%;
}
.crypto-search {
    display: flex;
    color: var(--principal-text-color, #000345);
    flex-direction: column;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.title{
    font-weight: 600;
    font-size: 20px;
}
.center {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    margin: 5px 0px;
    font-size: 15px;
}
span{
    margin-right: 5px;
    align-self: center;
}
select {
    flex: 1;
    height: 25px;
}

/* Input */
.input-body{ 
    display: flex;
    align-self: center;
    height: 30px;
    width: 50%;  
}
.input{
    width: 90%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    color: var(--principal-text-color, #000345);   
}
.filter-body-input {
    height: 25px;
    border: 0.5px solid #aaaaaa;
    padding: 0 5px 0 5px;
    width: 100%;
    font-size: 15px;
}
.filter-body-input:focus {
    outline: none !important;
    border-color: #808080;
    box-shadow: 0 0 3px #808080;
}

/* remove filter button */
.container-button {
    display: flex;
    min-width: none;
    justify-content: center;
    align-items: center; 
}
.remove-btn {
    margin-left: 0.5em;
    min-width: 22px;
    min-height: 22px;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 0.5px solid var(--color-filtro-lista-boton-bordes, #aaaaaa);
    background-color: lightgray;
    cursor: pointer;
    color: #0f5a81;
}
.remove-btn-disabled {
    background-color: var(--color-boton-discomponent-fondo, var(--color-boton-ia-discomponent, #bcbcbc)) !important;
    color: var(--color-boton-discomponent-texto, var(--color-boton-ia-texto, #ffffff)) !important;
    border: 0.5px solid #aaaaaa !important;
    cursor: auto !important;
}

.page{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 85%;
    margin: auto;
    border: 3px solid #6a6a6a85;
    border-radius: 1em;
    box-shadow: var(--filter-shadow, 2px 4px 14px rgba(0, 0, 0, 0.25));
    padding: 5px;
}

.page-component{
    border-top: 1px solid #6a6a6a85;
}

.dots {
    margin: 5em auto;
    width: 56px;
    height: 26.9px;
    background: radial-gradient(circle closest-side,#474bff 90%,#0000) 0%   50%,
           radial-gradient(circle closest-side,#474bff 90%,#0000) 50%  50%,
           radial-gradient(circle closest-side,#474bff 90%,#0000) 100% 50%;
    background-size: calc(100%/3) 13.4px;
    background-repeat: no-repeat;
    animation: dots-7ar3yq 1s infinite linear;
}
 
@keyframes dots-7ar3yq {
    20% {
       background-position: 0%   0%, 50%  50%,100%  50%;
    }
 
    40% {
       background-position: 0% 100%, 50%   0%,100%  50%;
    }
 
    60% {
       background-position: 0%  50%, 50% 100%,100%   0%;
    }
 
    80% {
       background-position: 0%  50%, 50%  50%,100% 100%;
    }
}

/* Table style */
.title-header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px 0px;
    height: 30px;
}

.header-item{
    display: flex;
    justify-content: center;
}

.page-component{
    border-top: 1px solid #6a6a6a85;
}

/* Card style */
.card-body{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px 0px;
    height: 30px;
}
.image-container{
    display: flex;
    justify-content: center;
}
.table-item{
    justify-content: center;
    display: flex;
    min-width: 6em;
    align-items: center;

}
.img-container{
    align-items: center;
    display: flex;
    justify-content: flex-start;

}
.img{
    width: 30px;
    margin: 0px 5px;
}
.crypto-name{
    min-width: 4em !important;
}
.shadow {
    background-color: var(--reporte-tablero-body-cell-fondo-oscuro, #e6e6e6);
}
.clear {
    background-color: var(--reporte-tablero-body-cell-fondo-claro, white);
}
.card-body:hover{
    background-color: #2199e84f;
    cursor: pointer;
}

/* Pagination style */
#pagination {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#pagination .disabled {
    background-color: #aaaaaa !important;
}

#pagination .active {
    background-color: #2199e84f !important;
}

#pagination a, #pagination span {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

#pagination a:hover {
    cursor: pointer;
    background: #fefefe;
}

#pagination a.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

#pagination span {
    color: #f0f0f0;
    background: #616161;
}

/* Modal Styles */
.modal{
    background-color: #545454bf;
    height: calc(100vh + 180px);
    width: calc(100vw - 17px);
    position: absolute;
    top: 0px;
    left: 0px;
}
.modal-container{
    width: 25em;
    background-color: white;
    border-radius: 1em;
    margin: 10% auto;
    padding: 20px;
    display: flex;
    position: relative;
}

.closeModal{
    position: absolute;
    right: 2em;
    top: 0.5em;
}
.closeModal:hover{
    cursor: pointer;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: center;
}
.image-name{
    font-size: 24px;
    font-weight: 600;
}
.modal-image{
    width: 150px;
}

.information{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    border-radius: 1em;
    background-color: #d3d3d352;
    padding: 4px;
    
}
.modal-item{
    margin: 5px;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .filter-body{
        flex-direction: column;
    }
    .container-forms{
        width: 100%;
    }

    .center{
        width: 100% !important;
    }

    .input-body{
        width: 100%;
    }

    .input{
        width: 100% !important;
    }
    
    .page{
        overflow-y: auto;
    }

    .modal-container{
        flex-direction: column;
    }
}